.container{
    overflow: hidden;
}

.form-user{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
    text-align: center;
    
}

.user-img{
    margin-top: 10%;
}