.aboutUs_global{
    overflow: hidden;
}

.aboutUs{
    margin-top: 15%;
}

.title{
    float: none;
    text-align:center;
    font-family: 'Pacifico';
    color: #519548;
    margin-bottom: 30px;
}

.responsivo{
    max-width: 100% !important;
}