.orchard-admin{
    overflow: hidden;
}

.global-admin{
    margin-top: 8%;
}

.management-btn, .delete-btn, .btn-success{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}